.btn-group[role='group' aria-label='Batch Actions']
  - %w(merge unmerge resolve unresolve delete).each do |action|
    = submit_tag action.titleize, class: 'btn btn-default btn-xs', data: { action: polymorphic_path([action == 'delete' ? 'destroy' : action, 'several_problems']), confirm: problem_confirm(action) }
